<form class="form-signin text-center" #frm="ngForm" (ngSubmit)="addUser(frm)">
    <img class="mb-4" src="http://icons.iconarchive.com/icons/double-j-design/ravenna-3d/128/Book-icon.png" alt="" width="72"
        height="72">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    <div>
        <input class="form-control" ngModel name="name" type="text" placeholder="Name" required>
        <input class="form-control" ngModel name="email" type="email" placeholder="Email address" required>
        <input class="form-control" ngModel name="college" type="text" placeholder="College Name" required>
        <input class="form-control" ngModel name="address" type="text" placeholder="Address" required>
        <input class="form-control" ngModel name="phone" type="number" placeholder="Phone Number" required>
        <input class="form-control" ngModel ngModel name="password" type="password" placeholder="Password" required>
        <br>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Up">
        <br>
        <br>
        <p>Already registered?</p>
        <a routerLink="">Login</a>
    </div>
</form>